<% if @message != nil %>
  <p><%= @message %></p>
<% end %>
<div class="container">
  <h2>Message Boards</h2>
  <% @boards.each do |board| %>
    <a class="btn btn-outline-secondary" href="/boards/<%= board.id %>"><%= board.topic %></a>
  <% end %>
</div>
