<h1><%= @board.title %></h1>
<p>This is the main display page after the landing page.</p>

<p>If logged in, it shows a link to create a post</p>
<p>make sure to set the current value of @board to the value tag in a submit tag in the create form, so it can be associated with that board</p>

<p>If not logged in, </p>
  <p>If you'd like to leave a comment on this board, please log in or sign up</p>


<p>Either way, then it shows an index of all the posts of that board</p>
  <p>If logged in and if it's the current_user's post, it shows an 'edit' link next to each of your posts</p>
