<h1><%= @board.title %></h1>
<p>This is the main display page after the landing page.</p>

<p>If logged in, it shows a link to create and submit a post</p>
<p>If not logged in, </p>
  <p>If you'd like to leave a comment on this board, please log in or sign up</p>


<p>Either way, then it shows an index of all the posts of that board</p>
