<div class="container">
  <% if flash[:message] != nil %>
    <p class="p-3 mb-2 bg-secondary text-white"><%= flash[:message] %></p>
  <% end %>
  <div class="container">
    <h2>Message Board</h2>
    <% @posts.each do |post| %>
      <p><%= post.content %></p>
    <% end %>
  </div>
</div>
