<div class="container">
  <ul class="list-inline">
    <li>The National Arts Club</li>
    <li>15 Gramercy Park South</li>
    <li>New York, NY 10003</li>
  </ul>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12092.429367684283!2d-73.9867534!3d40.7376635!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb4df7320fc31fd97!2sThe+National+Arts+Club!5e0!3m2!1sen!2sus!4v1542137938532" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
