<h2>Welcome</h2>
<a href="/boards">Message Boards</a>

<% if logged_in? %>
  <a href="/users/logout">Log Out</a>
<% else %>
  <a href="/users/login">Sign Up or Log in</a>
<% end %>

<div>
<p>This page has information about the NY Robert Browning Society.</p>
</div>
