<div class="container">
  <div class="lead">
    <p>The New York Browning Society was founded in 1907 to study the poetry, life, and times of <a href= "https://en.wikipedia.org/wiki/Robert_Browning" >Robert Browning</a> (1812-1889), and of his wife, <a href="https://en.wikipedia.org/wiki/Elizabeth_Barrett_Browning">Elizabeth Barrett Browning</a> (1806-1851).</p>
    <p>Our <a href="/meetings">programs</a> reflect the extraordinary diversity of their interests and restless intellects and also encompass most of Victorian literature and culture, for the Brownings knew practically everyone in that extraordinary era. The Society also founded The Browning Institute, which saved the poets&#39; Florentine home,<a href=http://www.browningsociety.org/casa_guidi.html > Casa Guidi</a>, from commercial development.&nbsp;</p>
    <p>We welcome visitors to our meetings at the National Arts Club, which are held at 1:00 p.m. on the second Wednesday of October through May. Programs last about 45 minutes, and are followed by a question and answer session with the speaker and refreshments.&nbsp; The only requirement for membership is your interest in the poets; we ask no special knowledge or expertise.</p>
    <p>Our May gathering is the Society's annual meeting and lunch to commemorate the birth of Robert Browning on May 7, 1812.&nbsp; In addition to programs by distinguished speakers, we present the awards for our annual citywide high school poetry contest; the winners are our guests, and read their work for us.&nbsp; Our ongoing collaboration with nearby <a href= "http://gramercyhs.org/"> Gramercy Arts High School</a> encourages interested students to attend and participate in our meetings.</p>
  </div>
</div>
