<h2>Welcome</h2>
<p>This is the external landing page.</p>
<p>This page has information about the NY Robert Browning Society,</p>

<p>and a link to board index,</p>

<p>and, if logged in, a link to log out</p>
