<!doctype html>
<head>
  <title>The New York Robert Browning Society</title>
  <!-- load CSS here -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
</head>
<body>
  <h1>The New York Robert Browning Society</h1>
  <nav>
    <a href="/boards">Message Boards</a>
    <% if logged_in? %>
      <a href="/logout">Log Out</a>
    <% else %>
      <a href="/login">Sign Up/Log in</a>
    <% end %>
  </nav>
  <%= yield %>
</body>
