<!doctype html>
<html lang="en">
  <head>
    <title>The New York Robert Browning Society</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel=”stylesheet” type=”text/css” href=”/css/style.css”>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/brands.css" integrity="sha384-QT2Z8ljl3UupqMtQNmPyhSPO/d5qbrzWmFxJqmY7tqoTuT2YrQLEqzvVOP2cT5XW" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row background" id="green-background">
        <div class="col-3 col-md-2">
          <img class="img-fluid" src="images/rb1.jpg" alt="Robert Browning">
        </div>
        <div class="col-12 col-md-8">
          <h2 class="display-3 text-center">The New York Browning Society</h2>
        </div>
        <div class="col-3 col-md-2">
          <img class="img-fluid" src="images/eb1.jpg" alt="Elizabeth Barrett Browning">
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/meetings">Meetings</a>
            <%# <a class="nav-item nav-link" href="/login">Register</a> %>
            <a class="nav-item nav-link" href="/contact">Contact</a>
            <%# <a class="nav-item nav-link" href="/boards">Forum</a> %>
            <a class="nav-item nav-link" href="#">HS Poetry Competition</a>
            <a class="nav-item nav-link" href="#"><i class="fab fa-facebook"></i></a>
            <a class="nav-item nav-link" href="#"><i class="fab fa-twitter"></i></a>
            <a class="nav-item nav-link" href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </nav>
    </div>
    <main class="container">
      <div class="row">
        <div class="col-8 blog-main">
          <%= yield %>
        </div>
        <aside class="col-4 blog-sidebar">
          <% if flash[:message] != nil %>
            <p class="p-3 mb-2 bg-secondary text-white"><%= flash[:message] %></p>
          <% end %>
          <form method="post" action="/email">
            <label>Sign up to receive our monthly newsletter:</label>
            <input type="email" name="email[email]" placeholder="Email">
            <input type="submit" value="Sign Up">
            <small id="emailHelpBlock" class="form-text text-muted">
              We will not spam your account or share your information with third parties.
            </small>
          </form>
          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" style="width:100%; height:500px !important;">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="img-fluid d-block w-100" src="images/rb2.jpg" alt="Robert Browning">
                <div class="carousel-caption d-none d-md-block">
                  <p>photograph by Julia Margaret Cameron, 1865</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="img-fluid d-block w-100" src="images/rb3.jpg" alt="Robert Browning">
                <div class="carousel-caption d-none d-md-block">
                  <p>painting by Michele Gordigiani, 1858</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="img-fluid d-block w-100" src="images/eb2.jpg" alt="Elizabeth Barrett Browning">
                <div class="carousel-caption d-none d-md-block">
                  <p>painting by Michele Gordigiani, 1858</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="img-fluid d-block w-100" src="images/rb4.jpg" alt="Robert Browning">
                <div class="carousel-caption d-none d-md-block">
                  <p>painting by George Frederic Watts, c. 1893</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="img-fluid d-block w-100" src="images/rb5.jpg" alt="Robert Browning">
                <div class="carousel-caption d-none d-md-block">
                  <p>painting by Robert Wiedeman Barrett (Pen) Browning, 1882</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="img-fluid d-block w-100" src="images/rb6.jpg" alt="Robert Browning">
                <div class="carousel-caption d-none d-md-block">
                  <p>painting by Rudolf Lehmann, c. 1890</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="img-fluid d-block w-100" src="images/rb7.jpg" alt="Robert Browning">
                <div class="carousel-caption d-none d-md-block">
                  <p>photograph by Elliott & Fry, c. 1880</p>
                </div>
              </div>
            </div>
          </div>
          <h5 class="font-italic">Board</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">James Browning Kepple, President</li>
            <li class="list-group-item">Robert Kramer, Vice President</li>
            <li class="list-group-item">Tandy Cronyn, Treasurer</li>
            <li class="list-group-item">Laura Clarke, Corresponding Secretary</li>
            <li class="list-group-item">Nancy McCall, Recording Secretary</li>
            <li class="list-group-item">Gene Bierhorst, Director-at-Large</li>
            <li class="list-group-item">KT Sullivan, Director-at-Large</li>
            <li class="list-group-item">Stephen Downey, Director-at-Large</li>
          </ul>
        </aside>
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
