<div class="list-group">
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <h5 class="mb-1">The Brownings in Tuscanyshire</h5>
    <p class="mb-1">Tom d'Edigio, Poet</p>
    <div class="d-flex w-100 justify-content-between">
      <p class="mb-1">The National Arts Club 15 Gramercy Park South</p>
      <p class="mb-1">Wednesday, October 10, 2018</p>
    </div>
    <p class="mb-1">In 1846 Elizabeth and Robert Browning eloped to Italy, spending most of the time until Elizabeth’s 1861 death living in Florence. Elizabeth had been a lifelong Italophile who had written poems in Italian while still in England. Yet during all their Florentine years they essentially had no Italian friends, living exclusively within the English colony wryly referred to by some, as Tuscanyshire.</p>
    <a href="#"><p class="mb-1">Download the newsletter for this month</p></a>
  </div>
</div>
