<div class="list-group">
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <h5 class="mb-1">To the Dark Tower: Childe Roland, C.S. Lewis, and The Gunslinger</h5>
    <p class="mb-1">James Kepple, Society President</p>
    <div class="d-flex w-100 justify-content-between">
      <p class="mb-1">The National Arts Club 15 Gramercy Park South</p>
      <p class="mb-1">Wednesday, November 14, 2018</p>
    </div>
    <p class="mb-1">In 1846 Elizabeth and Robert Browning eloped to Italy, spending most of the time until Elizabeth’s 1861 death living in Florence. Elizabeth had been a lifelong Italophile who had written poems in Italian while still in England. Yet during all their Florentine years they essentially had no Italian friends, living exclusively within the English colony wryly referred to by some, as Tuscanyshire.</p>
    <a href="meetings/november.pdf"><p class="mb-1">Download the newsletter for this month</p></a>
  </div>
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <h5 class="mb-1">The Brownings in Tuscanyshire</h5>
    <p class="mb-1">Tom d'Edigio, Poet</p>
    <div class="d-flex w-100 justify-content-between">
      <p class="mb-1">The National Arts Club 15 Gramercy Park South</p>
      <p class="mb-1">Wednesday, October 10, 2018</p>
    </div>
    <p class="mb-1">James Kepple’s talk, “To the Dark Tower: Childe Roland, C.S. Lewis, and The Gunslinger” will examine the impact of Browning's "Childe Roland to the Dark Tower Came." From its influences to its influence, “Childe Roland” is truly a poem that resonates in abundance. Its roots are formed from a Scottish Ballad and Shakespeare's King Lear, out of which Browning crafts a treacherous road, leaving a map that leads three adventurers towards the ultimate destination. From the historic past, to the unknown future, the Dark Tower has guided and led our hero Childe Roland, and authors C.S. Lewis and Stephen King, down various paths grounded in Browning's Epic Poem. Let’s trace their routes together, onward, to the Dark Tower.</p>
    <a href="meetings/october.pdf"><p class="mb-1">Download the newsletter for this month</p></a>
  </div>
</div>
